body{
    margin: 0px;
    background-color: white;
}

header{
    margin: 0px;
    background-image: url(../img/pattern.png);
    background-color: rgb(50, 170, 170);
    height: 120px;
}

#thebooleaner-logo{
    height: 150px;
    width: 300px;
    padding-left: 20%;
}

#main-container{
    padding-left: 17%;
    padding-right: 17%;
}

#main-title{
    font-size: 33px;
}

#thebooleaner-color{
    color: rgb(0, 89, 255);
}

figure{
    width: 1050px;
    display: inline-block;
    margin-left: 0px;
}

figcaption{
    font-size: 12px;
}

#todo-list{
    margin-left: -24px;
}

table{
    text-align: center;
    vertical-align: middle;
}

.table-header{
    background-color: rgb(60, 140, 205);
}

th{
    color: white;
    text-align: left;
}
.tr-coloured{
    background-color: rgba(0, 255, 255, 0.159);
}